@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}

#smallImgBox{
    width: 100%;
    margin: 0px auto;   
}

#smallPic{
    height: 300px;
    border-radius: 10px;

}

.nav{
    background-color: #d5a17c;
    height: 50px;
   z-index: 100;
   border-top-right-radius: 20px;
   border-top-left-radius: 20px;
   width: 500px;
}

#logo{
    height: 50px;
    
}

#Bigtext{
    font-family: "Dancing Script", cursive;
    font-size: 2.5em;
    text-align: center;
}

#Bigtext i:hover{
    color: #0808e8;
    cursor: pointer;
}

#normalText{
    font-size: 1em;
    font-family: "PT Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.card{
    margin: 0px auto;
    background-color: white;
    padding-bottom: 20px;
    border-radius: 20px;
    max-width: 500px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.cardbtn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 23px;
}

.button, .left, .right {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
    width: 220px;
    font-family: "PT Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.button i, .left i, .right i {
    margin-right: 8px; /* Add some space between the icon and text */
}

.button {
    margin-left: 23px;
    width: 450px;
    margin-bottom: 10px;
}

#redirect {
    background-color: #4CAF50; /* Green background */
}

#googleReveiws {
    background-color: #db4437; /* Google red */
}

#tripadvisorReveiws {
    background-color: #34e0a1; /* Tripadvisor green */
}

#whatsapp {
    background-color: #25D366; /* WhatsApp green */
}

#email {
    background-color: #0072c6; /* Email blue */
}

#fb {
    background-color: #1877f2; /* Facebook blue */
}

#dial {
    background-color: #28a745; /* Dial green */
}
#airbnb{
    background-color: coral;
}

/* Hover effects */
button:hover {
    opacity: 0.9;
}

.loc{
    position: absolute;
    visibility: hidden;
}

#ii:hover ~ .loc{
    font-family: "PT Sans", sans-serif;
    font-size: 0.45em;
    visibility: visible;
    margin-top:-85px;
    margin-left: 290px;
    background-color: rgba(128, 128, 128, 0.534);
    width: 160px;
    padding: 5px 0px;
    z-index: 12;
    border-radius: 4px;
    position: absolute;
}

#ii{
    z-index: 10;
}

#ii:active{
    opacity: 0.6;
}

/* CSS for small screens */
@media only screen and (max-width: 600px) {
    .nav {
        width: 100%; /* Make the navigation bar full width */
        border-radius: 0; /* Remove border radius for responsiveness */
    }



    .card {
        width: 100%;
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
    }
    
    #smallPic{
        width: 90%;
    }

    
    .left,
    .right {
        width: 90%; /* Make buttons full width on small screens */
    }


    
    .left, .right{
margin-top: 50px;
    }

    #redirect {
        margin-top: -127px;
        height: 40px;
           }
    
    #googleReveiws {
        margin-top: -140px;
        height: 40px;
    }
    
    #tripadvisorReveiws {
        margin-top: -52px;
        height: 40px;
        
    }
    
    #whatsapp {
        margin-top: -14px;
        height: 40px;
    }
    
    #email {
        margin-top: 75px;
        height: 40px;
        
    }
    
    #fb {
        margin-top: -141.3px;
        height: 40px;
        
    }
    
    #dial {
        margin-top: -15px;
        height: 40px;
    }
    #airbnb{
        margin-top: -90px;
        height: 40px;
    }


   .cardbtn{
    margin-top: 160px;
    margin-left: 35px;
   }

}
